@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;900&display=swap");
* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat' , sans-serif; }

.bg-box2 {
    background-color: #e7d8ef; }

.btn-more, .btn-rounded {
    width: 100px;
    height: 30px;
    background: linear-gradient(to top, #8b8488, #454244);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #171616; }
    .btn-more:hover, .btn-rounded:hover {
    background-color: #d0c6cd;
    color: #171616; }

h3 {
    font-family: "Montserrat", sans-serif;
    font-size: 1.7em;
    line-height: 2em;
    color: white;
    padding: 4px;
    font-weight: 400;
    font-style: italic; }

.bg-btn {
    background-color: #8b8488; }

header .navbar {
    padding: 0%; }
    header .navbar .container-fluid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; }

#botonera {
  animation-name: textAlpha;
  animation-duration: 1s; }

#botonera img {
  width: 200px; }

#botonera nav ul li a {
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size .3s; }

#logo-animado {
  animation-name: textAlpha;
  animation-duration: 0.5s; }

#slide div {
  animation-duration: 2s;
  animation-name: slidein; }

.bg-box3 {
  background-color: #56ea86; }

.textcenter {
  text-align: center; }

@keyframes textAlpha {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 200%; }
  to {
    margin-left: 0%;
    width: 100%; } }

@media (min-widht: 280px) and (max-width: 300px) {
  #botonera img {
    width: 150px; } }

* {
  margin: 0;
  padding: 0; }

.principal {
  display: flex;
  flex-direction: column;
  text-align: center; }

h1 {
  font-family: 'Montserrat' , sans-serif;
  font-size: "3mm";
  font-style: italic;
  font-weight: 400;
  font-size: 35px; }

h5 {
  font-size: 20px;
  font-family: "Montserrat", sans-serif; }

.fw-bolder {
  font-size: 1rem; }

.textcenter {
  text-align: center; }

.container-fluid {
  height: 100%; }

.justify-content-center {
  justify-content: center; }

.d-flex {
  display: flex; }

.flex-column {
  flex-direction: column; }

.img-fluid {
  max-width: 100%;
  height: auto; }

.rounded {
  border-radius: 15px; }

.carousel .carousel-inner img {
  height: auto;
  object-fit: cover;
  object-position: center; }

main #slide div {
  animation-duration: 2s;
  animation-name: slidein; }

main .textcenter {
  text-align: center; }

.transformacion:hover {
  -webkit-transform: scale(9, 0);
  transform: scale(0.9); }

body {
  background-color: #e7d8ef; }

#footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: auto;
  width: auto;
  padding-top: 3%; }

.bg-box1 {
  background-color: #171616; }

.text-deco {
  text-decoration: none; }

#redes {
  width: 40px;
  height: 30px;
  padding-right: 10px; }

