@import "partials/utilities/font";
@import "partials/variables";
@import "partials/utilities/mixin";
@import "partials/commons";
@import "partials/header";
@import "partials/carousel";
@import "partials/main";
@import "partials/footer";
@import "partials/mediaqueries";

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat' , sans-serif;

}

body{
    background-color: $colorPrincipal;
}
    
