<!doctype html>
<html lang="en">
	<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--meta seo-->
    <meta name="description" content="Tejidos de invierno realizados en fibras acrílicas">

    <meta name="keywords" content="sweaters, lanas, diseños, tejidos, lana acrílica">

    <meta name="author" content="Mariel Veron">

    <!-- Bootstrap CSS css/bootstrap.min.css-->
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    
    <!--css mar-->
    <link rel="stylesheet" href="../css/404.css">

    <title>Error 404</title>
    <link rel="shortcut icon" href="../img/favicon.png">


<!--inicia nav-->

<nav class="navbar navbar-expand-lg navbar-light bg-btn sticky-top fw-bolder" id="botonera"> 
  <div class="container-fluid">
  <a class="navbar-brand" href="../index.html">
    <img src="../img/logo.png" alt="logo de vegan knits">
  </a>
  
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link" aria-current="page" href="lana.html">LANA</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="cotton.html">COTTON</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="customized.html">CUSTOMIZED</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="contacto.html">CONTACTO</a>
      </li>

        </ul>
      </li>
    </ul>
  </div>
</div>
</nav>
<!--ends nav-->

    <section id="slide" class="py-3 bg-box3">
      <div class="container-fluid textcenter">
        <h1>TEJIDOS EN FIBRA DE ALGODÓN Y ACRÍLICO</h1>
      <div class="row">
        <article class="col-sm-12.col-md-6.col-lg-3">
        </article>
      </div>
    </section>
</head>

<body>
  <div class="textcenter">
    <img class="img-fluid" src="../img/404.png" alt="Error 404. Página no encontrada">
    <h1>¡UPS! Error 404: página no encontrada.</h1>
    <div class="btn ">
        <a href= "../index.html"><button class="bg-btn text-white w-100 mb-2 ">VOLVER AL INICIO</button></a>
    </div>
</div>
    
<!--inicia footer-->
    <footer class="bg-box1 py-3 textcenter">  
      <a class="text-deco" href="https://facebook.com" target="_blank">
        <img id="redes" src="../img/fb.png" alt="logo de facebook" />
      </a>
      <a class="text-deco" href="https://instagram.com" target="_blank">
        <img id="redes" src="../img/ig.png" alt="logo de instagram" />
      </a>
    </footer>

    <!-- js boostrap.min.js -->
    <script src="../js/bootstrap.min.js"></script>

  </body>
</html>