<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--meta seo-->
    <meta name="description" content="Más info sobre  nuestros tejidos a mano, 100% veganos">
    
    <meta name="keywords" content="sweaters, lanas, diseños, tejidos">

    <meta name="author" content="Mariel Veron">

    <!-- Bootstrap CSS css/bootstrap.min.css-->
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    
    <!--css mar-->
    <link rel="stylesheet" href="../css/style.css">

    <title>INFO - Tejidos Hechos a Mano</title>
    <link rel="shortcut icon" href="../img/favicon.png">


<!--inicia nav-->

<nav class="navbar navbar-expand-lg navbar-light bg-btn sticky-top fw-bolder" id="botonera"> 
  <div class="container-fluid">
  <a class="navbar-brand" href="../index.html">
    <img src="../img/logo.png" alt="logo de vegan knits">
  </a>
  
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link" aria-current="page" href="lana.html">LANA</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="cotton.html">COTTON</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="customized.html">CUSTOMIZED</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="contacto.html">CONTACTO</a>
      </li>

        </ul>
      </li>
    </ul>
  </div>
</div>
</nav>
<!--ends nav-->

    <section id="slide" class="py-3 bg-box3">
      <div class="container-fluid textcenter">
        <h1>TEJIDOS EN FIBRA DE ALGODÓN Y ACRÍLICO</h1>
      <div class="row">
        <article class="col-sm-12.col-md-6.col-lg-3">
        </article>
      </div>
    </section>
</head>

  <body>
  
<!--inicia carousel-->
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="../img/custo.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="../img/cottonc.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="../img/lanac.png" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  <!--ends carousel-->

  <main>
  <section id="slide" class="py-3 bg-box3">
    <div class="container-fluid textcenter" >
      <h3>CONTACTANOS</h3>
      <div class="row">
        <article class="col-sm-12.col-md-6.col-lg-3">
        </article>
      </div>
  </section>

  <form class="py-5 text-uppercase  d-flex flex-column justify-content-center align-items-center">
    <div class="mb-3">
      <label for="nombre" class="form-label fw-bolder">nombre</label>
      <input type="nombre" class="form-control" placeholder="tu nombre">
    </div>
    <div class="mb-3">
      <label for="email" class="form-label fw-bolder">email</label>
      <input type="email" class="form-control" placeholder="email@email.com">
    </div>

    <div class="mb-3 form-floating">
      <textarea class="form-control" placeholder="deja tu mensaje" id="floatingTextarea2" style="height: 100px"></textarea>
      <label for="floatingTextarea2">mensaje</label>
    </div>

    <button type="submit" class="btn btn-rounded fw-bolder text-white">ENVIAR</button>
  </form>
</main>

<!--inicia footer-->
    <footer class="bg-box1 py-3 textcenter">  
      <a class="text-deco" href="https://facebook.com" target="_blank">
        <img id="redes" src="../img/fb.png" alt="logo de facebook" />
      </a>
      <a class="text-deco" href="https://instagram.com" target="_blank">
        <img id="redes" src="../img/ig.png" alt="logo de instagram" />
      </a>
    </footer>
    
<!-- ends footer -->
				
    <!-- js boostrap.min.js -->
    <script src="../js/bootstrap.min.js"></script>

  </body>
</html> 