$colorPrincipal: #e7d8ef;
$colorSecundario: 	black;
$colorGreen: #56ea86;
$keyColor: rgb(29, 163, 253);

.btn-purple{
    background-color:#a18b99;
}

.bg-box2{
    background-color: $colorPrincipal;
}